
@import "tailwindcss";

/* 전역 스타일 및 폰트 렌더링 최적화 */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 스크롤바 제거 */
}

body {
  /* background-color: theme('colors.dark-bg');
  color: theme('colors.primary-text');
  font-family: theme('fontFamily.sans'); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Electron 드래그 영역 스타일 */
.-webkit-app-region-drag {
  -webkit-app-region: drag;
}

/* 투명도 슬라이더 트랙 및 썸 스타일 */
input[type="range"]::-webkit-slider-runnable-track {
  @apply bg-gray-700 rounded-lg h-2;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none w-4 h-4  rounded-full -mt-1 border-none shadow-md;
}

input[type="range"]::-moz-range-track {
  @apply bg-gray-700 rounded-lg h-2;
}

input[type="range"]::-moz-range-thumb {
  @apply appearance-none w-4 h-4  rounded-full -mt-1 border-none shadow-md;
}
