/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* 앱 프레임을 돋보이게 할 배경색 */
  background-color: #0a0a0a;
  background-image: radial-gradient(circle at center, #1a1a1a, #0a0a0a);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f0f0f0;
}